.container {
    margin: 0 !important;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;*/
}
.containerwidth {
    max-width: 48em;
    text-align: center;
    margin: 0 auto;
}
body {
    margin: 0;
}
/* NAVIGATION */
#nav-bar {
    color: white;
    margin: 0 auto;
    background-color: #53ad75;
    width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#logo {
    display: inline-block;
}
#logo img {
    width: 50px;
    border: 3px solid white;
    border-radius: 70%;
    margin-right: 15px;
}
#name-logo {
    display: inline-block;
    margin-right: 10em;
}
#name-logo h2 {
    margin-bottom: -15px;
}
#nav-bar ul {
    display: inline-block;
}
#nav-bar ul li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    color: white;
}
#nav-bar ul li a {
    text-decoration: none;
    color: white;
}

/* MAIN BODY */
#main-body {
    width: 100%;
    background-color: #53ad75;
    color: white;
    padding: 80px 20px 100px 20px;
    text-align: center;
    margin: 0 auto;
}
#arrow {
    width: 3em;
}
/* PORTFOLIO */
.portbody {
    background-color: #53ad75;
}
.portitems {
    text-align: center;
}

/* ABOUT ME */
.aboutbody {
    background-color: #53ad75;
}
.aboutcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 30px 80px 30px;
}
.aboutinfo {
    text-align: left;
    color: white;
    margin-left: 35px;
    line-height: 2;
}
.aboutinfo a {
    text-decoration: none;
    color: white;
    text-align: center;
    vertical-align: top;
    margin-right: 25px;
}
.myface {
    margin-top: 25px;
}
.myface img {
    width: 15em;
    border-radius: 100%;
    border: 2px solid white;
    box-shadow: 5px 5px 18px #272728;
}
/* CONTACT FORM */
.contactbody {
    background-color: #53ad75;
}
.contactform {
    color: white;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: #2c2c2d;
    color: white;
    width: 100%;
    padding: 15px;
}
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer ul li {
    list-style: none;
}
footer ul li img {
    width: 2em;
    margin-right: 40px;
}
.footerp {
    text-align: center;
    margin: 0 auto;
    margin: 0 0 0 0;
}
.footermade {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#react {
    width: 2em;
    margin-left: 10px;
    margin-top: 10px;
}
